<% include partials/header %>

<h1>Search For Movie</h1>

<!--using forEach-->

<form action="/results" method="GET">
    <input type="text" name="searchTerm" placeholder="Serach term">
    <button>Search</button>
</form>

<% include partials/footer %>